.card-home {
    width: 33.9rem;
    height: 51.9rem;
    border-radius: 10px;
    margin: 4rem 1rem;
    display: flex;
    justify-content: space-between;
    
}


.card-produto {
    width: 33.9rem;
    height: 51.9rem;
    border-radius: 10px;
    border: 2px solid var(--azul, #00132C);
    background: #F6FAFB;
    margin: 4rem 1rem;

}

.card-produto .card-titulo {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}


.card-produto h6 {
    display: flex;
    justify-content: baseline;
    margin-left: 3rem;
}

.card-produto .card-tag {
    justify-content: end;
    margin-right: 3rem;
    color: #7D5015;
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-produto .card-subtitulo {
    font-style: 'roboto';
    color: #130E19;
    text-align: center;
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 2.5rem;

}

.card-produto .card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.card-preco {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}



@media (max-width: 768px) {

    .card-produto {
        height: 30.90rem;

    }

    .card-preco {
        display: flex;
        margin-top: 0;
    }

    .card-preco h3 {
        font-size: 2.3rem;
    }

    .card-preco img {
        width: 3.6rem;
        height: 3.6rem;
    }

    .card-produto .card-image {
        margin-top: 1rem;
    }

    .card-produto .card-image img {
        max-width: 70%;
    }

}

@media (max-width: 560px) {

    .s-cardapio {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

    }

    .card-produto {
        width: 26.9rem;
        height: 35.90rem;

    }

}